body {
    background-color: #202020;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    width: 60px;
    display: block;
    margin: 0 auto;
}

.container {
    width: fit-content;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

.container h1, .container h2 {
    margin: 0px;
    max-width: 372px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 20px;
    text-align: start;
}

input {
    background-color: #202020;
    border: 1px solid #7c7c7c;
    height: 40px;
    width: 350px;
    border-radius: 5px;
    color: white;
    padding: 0 10px;
    font-size: 1rem;
    line-height: 1em;
}

.btn {
    border-radius: 50px;
    padding: 1em 1.5em;
    font-size: 1em;
    font-weight: 900;
    color: white;
    border: 1px solid #7c7c7c;
    background-color: #202020;
}

input:focus, .btn:focus {
    outline: 2px solid #ff6b00;
    outline-offset: 2px;
}

.orange-btn {
    margin-top: 20px;
    background-color: #ff6b00;
    border: none;
    color: #202020;
}

.orange-btn:hover {
    background-color: #ff7817;
}

.lighter-text-login {
    margin-top: 50px;
    color: #7c7c7c;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:focus {
    color: #ff6b00;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: 1em;
}

.footer span, .footer a {
    margin: 0;  
}

.error-text {
    color: red;
    margin-top: 8px;
    font-size: 14px;
}