:root {

font-family: 'Poppins', sans-serif;

}

.tela-musica-container {
    display: flex;
    margin-top: 50px;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 12rem;
    align-items: flex-start;
}

@media (max-width: 900px) {
    .tela-musica-container {
        flex-direction: column;
        align-items: center;
        gap: 3rem; 
    }
}

.player-info-block {
    flex: 1 1 800px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.musica-titulo {
    font-weight: 700;
}

@media (max-width: 900px) {
    .player-info-block {
        align-items: center;
        text-align: center;
    }
}

.album-art {
    width: 800px; 
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    margin-bottom: 2rem;
    object-fit: cover;
}

@media (max-width: 900px) {
    .album-art {
        width: 80vw;
        max-width: 350px; 
        height: 80vw;
        max-height: 350px; 
    }
}

.options-block {
    margin-left: 20px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.options-buttons {
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    .options-buttons {
        justify-content: center;
    }
}

.aba-content {
    padding: 1rem;
    border: 1px solid var(--border-color, #333);
    border-radius: 8px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text-color, #e0e0e0);
}

.aba-content-scroll::-webkit-scrollbar {
    width: 8px; 
}

/* 2. Trilha/Fundo do Scrollbar (SEM FUNDO) */
.aba-content-scroll::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px 0;
}

.aba-content-scroll::-webkit-scrollbar-thumb {
    background-color: var(--primary-color, #ff7533);
    border-radius: 10px; 
    border: 2px solid transparent;
}

.aba-content-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #ff914d; 
}

.options-block .MuiButton-root {

    border: 2px dotted #ff7533 !important; 
    color: #ff7533 !important; 
    background-color: transparent !important;
}

.options-block .MuiButton-contained {
    background-color: #ff7533 !important;
    color: white !important;
    border: 2px solid #ff7533 !important;
}

.options-block .MuiButton-root:hover {
    background-color: #ff7533 !important;
    color: white !important;
    box-shadow: 0 4px 10px rgba(255, 117, 51, 0.4); 
}

:root {
    --player-height: 80px;
    --player-bg: #1c1c1c; 
    --primary-color: #ff7533; 
    --text-color: #ffffff;
    --icon-color: #b3b3b3;
    --progress-bg: #535353;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--player-height);
    padding: 0 20px;
    width: 100%; 
}

.like-dislike-buttons {
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 900px) {
    .like-dislike-buttons {
        justify-content: center;
        width: 100%;
    }
}