:root {
    font-family: 'Poppins', sans-serif;
    --player-height: 80px;
    --player-bg: #1c1c1c; 
    --primary-color: #ff7533; 
    --orange: #ff7533; 
    --title-color: #ffffff; 
    --text-color: #ffffff; 
    --secondary-text-color: #b3b3b3; 
    --icon-color: #b3b3b3; 
    --darker-orange: #e0682d; 
    --input-bg: #333333; 
    --input-bg-hover: #404040; 
}
